<section id="LostAndFound">
    <div class="container">
        <div class="row justify-content-between align-items-center">
        <div class="col-md-6">
            <!-- <h5 class="card-title1">STEMlights</h5> -->
            <bold><h1>WW-P High School North Lost and Found</h1></bold>
            <p>Welcome to HSN's Lost & Found. Items are listed below in a Google Sheet. Each item has a corresponding item number. 
            To enter a start and end date, use the month, date, year format by clicking on the calendar. Example: 3/12/2020  
            Unclaimed items will be donated to charity at the end of each marking period.
            Thank you.</p>
        </div>

        <div class="col-md-5">
            <img src="/images/home.svg" class="rounded float-right img-fluid" alt="Image Here">
        </div>
        </div>
    </div>
</section>
    
<section id="items">
<h4 class="header-title"><span class="title">Lost and Found Items</span></h4>
<p class = "description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>