<section id="LostAndFound">
    <div class="container">
        <div class="row justify-content-between align-items-center">
        <div class="col-md-6">
            <bold><h1>WW-P High School North Lost and Found</h1></bold>
            <p class = "des">Welcome to HSN's Lost & Found. All items are listed below. Each item has a corresponding item number. 
            To enter a start and end date, use the month, date, year format by clicking on the calendar. Unclaimed items will be donated to charity at the end of each marking period.
            Thank you.</p>
        </div>

        <div class="col-md-5">
            <img src="/images/home.svg" class="rounded float-right img-fluid" alt="Image Here">
        </div>
        </div>
    </div>
</section>
    
<section id="items">
<h4 class="header-title"><span class="title">Lost and Found Items</span></h4>
<center><p class = "description">Enter the information corresponding to your lost items and click the "claim" button and fill out the form to claim your lost item.</p></center>
</section>