<%- include("./partials/header.ejs") %>

<div class="wrapper">
    <form action="/admin" method="POST" enctype="multipart/form-data" class="form">
        <div>
            <label for="name">Name</label>
            <input name="name" type="text" autocomplete="off" required="true">
        </div>
        <div>
            <label for="date">Date</label>
            <input name="date" type="date" required="true">
        </div>
        <!-- <div>
            <label for="url">URL</label>
            <input name="url" type="text" spellcheck="false" autocorrect="off" autocomplete="off" required="true">
        </div> -->
        <div>
            <label for="fileToUpload">File Upload</label>
            <input type="file" name="image">
        </div>
        <button type="submit">Submit</button>
    </form>

</div>

<h2>Claimed Items</h2>

<%- include("./partials/results.ejs", {type: "admin"}) %>

<h2>All Items</h2>

<%- include("./partials/results.ejs", {type: "admin", items: allItems}) %>

<%- include("./partials/footer.ejs") %>