<%- include("./partials/header.ejs") %>
<div class="wrapper">
    <form action="/look-up" method="POST" class="form">
        <div>
            <label for="type">Type</label>
            <input name="type" type="text" autocomplete="off">
        </div>
        <div>
            <label for="startDate">Start Date</label>
            <input type="date" name="startDate" id="">
        </div>
        <div>
            <label for="endDate">End Date</label>
            <input type="date" name="endDate" id="">
        </div>
        <div>
            <label for="ID">ID</label>
            <input type="text" name="ID" id="">
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

<%- include("./partials/results.ejs", {type: "student"}) %>

</section>
<%- include("./partials/footer.ejs") %>