.section {
    display: flex;
    flex-wrap: wrap;
    /* width: 1400px; */
    /* margin: auto; */
    margin: 0 40px;
    /* text-align: center; */
    align-items: stretch;
}

.card-img {
    max-height: 25vh;
    overflow: hidden;
}

.card, .card-img img {
    max-width: 300px;
}